<div class="scheduleSection">
  <div class="scheduleTable">
    <table class="scheduleList">
      <tr>
        <th class="scheduleDay sunday">Sun</th>
        <th class="scheduleDay monday">Mon</th>
        <th class="scheduleDay tuesday">Tue</th>
        <th class="scheduleDay wednesday">Wed</th>
        <th class="scheduleDay thursday">Thur</th>
        <th class="scheduleDay friday">Fri</th>
        <th class="scheduleDay saturday">Sat</th>
      </tr>
      <tr>
        <td><li>Ntsakelo</li></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>