<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/waiters.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="nameSection">
        <div class="headDiv">
          <h1 class="head">Waiter Schedule</h1>
        </div>
        <p class="text">
          Please enter your log in details below and proceed to selecting the
          days you will be available to work
        </p>

        <hr />
        <div class="errorDiv">
          <p class="errorMsg {{errorStyle}}">{{messages.info}}</p>
        </div>
        <div class="form">
          <form action="/waiters" method="POST">
            <input
              type="email"
              name="loginEmail"
              class="inputEmail loginInput"
              placeholder="Email address"
              autocomplete="off"
            />
            <input
              type="password"
              name="loginPassword"
              class="inputPassword loginInput"
              placeholder="Password"
            />
            <button class="proceedBtn" type="submit">Login</button>
            <a href="/Register" class="goToRegister">Don't have an account</a>

          </form>
        </div>
      </div>
    </div>
  </body>
</html>