@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap");

html {
  font-family: "Quicksand", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #9883d8;
}
.project {
  position: relative;
  width: 70%;
  height: 280px;
  background-color: white;
  margin: auto;
  top: 100px;
}

.daysProject {
  position: relative;
  width: 70%;

  background-color: white;
  margin: auto;
  top: 20px;
}
.nameSection {
  height: 450px;
  position: relative;
  width: 70%;
  /* height: 280px; */
  background-color: white;
  margin: auto;
  top: 100px;
}
.headDiv {
  position: relative;
  background-color: #9883d8;
  width: 70%;
  margin: auto;
  top: 10px;
}
.head {
  text-align: center;
  display: block;
  color: white;
}
.text {
  text-align: center;
}

.errorDiv {
  border: 1px solid white;
  height: 32px;
  width: 317px;
  margin: auto;
  margin-bottom: 5px;
}
.noShow {
  opacity: 0;
}
/* Error messages */
.danger {
  display: block;
  color: red;
}
.successful {
  display: block;
  color: green;
}
form {
  text-align: center;
}
.inputName {
  height: 35px;
  font-size: 17px;
  outline: none;
  border: 1px solid #bea8ff;
}
.proceedBtn {
  height: 35px;
  font-size: 17px;
  background-color: #9883d8;
  color: white;
  border: none;
}
.proceedBtn:hover {
  cursor: pointer;
}
.inputName::placeholder {
  font-size: 20px;
}
.adminLnk {
  text-decoration: none;
  color: #9883d8;
}
/* days */
.daysProject {
  height: 420px;
}
.stateMessage {
  text-align: center;
  height: 20px;
  color: red;
}

.scheduleTxt {
  text-align: center;
}
.daysForm div {
  margin-bottom: 5px;
}
.day {
  width: 20px;
  display: inline-block;
}
.label {
  border: 1px solid white;
  width: 100px;
  display: inline-block;
}
.scheduleBtn {
  height: 35px;
  font-size: 17px;
  background-color: #9883d8;
  color: white;
  border: none;
  margin-top: 5px;
}
.scheduleBtn:hover {
  cursor: pointer;
}
/* Login page */
.loginTxt {
  text-align: center;
}
.loginError {
  text-align: center;
  height: 10px;
}
.loginMessage {
  text-align: center;
  color: red;
}
.password {
  display: block;
  margin: auto;
  height: 30px;
  font-size: 17px;
  outline: none;
  border: 1px solid #bea8ff;
}
.userName {
  display: block;
  margin: auto;
  height: 30px;
  font-size: 17px;
  outline: none;
  border: 1px solid #bea8ff;
  margin-bottom: 20px;
}
.loginBtn {
  height: 35px;
  font-size: 17px;
  background-color: #9883d8;
  color: white;
  border: none;
  margin-top: 10px;
}
.loginBtn:hover {
  cursor: pointer;
}
/* scheduledDays */
.scheduleSection {
  width: 100%;
  height: 800px;
  background-color: #9883d8;
}
.allSchedule {
  height: 700px;
  width: 95%;
  background-color: white;
  position: relative;
  top: 20px;
  margin: auto;
}
.scheduleTable {
  width: 100%;
  height: 230px;
  background-color: white;
  overflow-x: auto;
}
table {
  width: 100%;
  border: 1px solid #d5cff2;
  border-collapse: collapse;
}
th {
  border: 1px solid #d5cff2;
  color: #9883d8;
}
td {
  height: 200px;
  vertical-align: top;
  border: 1px solid #d5cff2;
}
li {
  list-style-type: none;
  background-color: #bea8ff;
  margin-bottom: 5px;
  width: 70px;
}
.changes {
  height: 300px;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}
.updtSection {
  height: 300px;
  width: 300px;
  display: inline;
  float: left;

  box-shadow: 5px 5px 5px 5px #f4f3fe;
}
.updtForm {
  text-align: center;
}
.updtname {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 280px;
  height: 30px;
  outline: none;
  border: 1px solid #bea8ff;
}
.fromDays {
  margin-bottom: 20px;
  width: 280px;
  height: 30px;
  outline: none;
  border: 1px solid #bea8ff;
}
.toDays {
  margin-bottom: 10px;
  width: 280px;
  height: 30px;
  outline: none;
  border: 1px solid #bea8ff;
}
.updtBtn {
  height: 35px;
  font-size: 17px;
  background-color: #9883d8;
  color: white;
  border: none;
  display: block;
  margin: auto;
  margin-top: 5px;
}
.updtBtn:hover {
  cursor: pointer;
}
.deleteSection {
  height: 300px;
  width: 300px;
  display: inline;
  float: right;

  box-shadow: 5px 5px 5px 5px #f4f3fe;
}

.deletename {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 280px;
  height: 30px;
  outline: none;
  border: 1px solid rgb(193, 14, 14);
}
.deleteFrom {
  margin-bottom: 10px;
  width: 280px;
  height: 30px;
  outline: none;
  border: 1px solid rgb(193, 14, 14);
}
.deleteBtn {
  display: block;
  margin: auto;
  height: 35px;
  font-size: 17px;
  background-color: rgb(168, 17, 17);
  color: white;
  border: none;
  margin-top: 5px;
}
.deleteBtn:hover {
  cursor: pointer;
}
.links {
  margin-top: 20px;
  text-align: center;
}
.clear {
  display: block;
  text-decoration: none;
  border: 1px solid #bea8ff;
  width: 150px;
  margin: auto;
  margin-bottom: 10px;
  color: #9883d8;
}
.logOut {
  display: block;
  text-decoration: none;
  border: 1px solid #bea8ff;
  width: 150px;
  margin: auto;
  color: #9883d8;
}
.clear:hover {
  background-color: #9883d8;
  color: white;
}
.logOut:hover {
  background-color: #9883d8;
  color: white;
}
.unavailable {
  color: white;
  background-color: rgb(253, 135, 92);
}
/* Update error messages */
.errDiv {
  height: 30px;
  width: 280px;
  margin: auto;
}
.err {
  color: red;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.available {
  color: white;
  background-color: rgb(126, 211, 126);
}
/* Media queries */
@media screen and (width: 280px) {
  .updtSection {
    width: 200px;
  }
  .deleteSection {
    width: 200px;
  }
  .updtname {
    width: 170px;
  }
  .fromDays {
    width: 170px;
  }
  .toDays {
    width: 170px;
  }
  .deletename {
    width: 170px;
  }
  .deleteFrom {
    width: 170px;
  }
}
@media screen and (max-width: 920px) {
  .scheduleTable {
    margin-bottom: 30px;
  }
  .scheduleSection {
    width: 100%;
    height: 1100px;
    background-color: #9883d8;
  }
  .allSchedule {
    height: 1050px;
  }
  .changes {
    height: 650px;
    width: 100%;
    margin-top: 0px;
  }
  .updtSection {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    float: none;
  }
  .deleteSection {
    display: block;
    margin: auto;
    float: none;
  }
  .links {
    text-align: center;
  }
}

@media screen and (max-width: 290px) {
  .inputName {
    font-size: 16px;
  }
  .project {
    width: 90%;
  }
  .errorDiv {
    width: 95%;
  }
}

@media screen and (max-width: 415px) {
  .nameSection {
    height: 450px;
    width: 90%;
  }
  .daysProject {
    height: 600px;
  }
  .errorDiv {
    width: 200px;
  }

  .inputName {
    display: block;
    margin: auto;
  }
  .proceedBtn {
    display: block;
    margin: auto;
    margin-top: 7px;
  }
  .adminProject {
    height: 450px;
  }
}

@media screen and (min-width: 520px) {
  .nameSection {
    height: 300px;
  }
  .daysProject {
    height: 500px;
  }
}
@media screen and (max-width: 840px) {
  .name {
    display: block;
    width: 300px;
    margin: auto;
    margin-top: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .changes {
    width: 65%;
  }
}
@media screen and (min-width: 1200px) {
  .changes {
    width: 50%;
  }
}
@media screen and (min-width: 1300px) {
  .changes {
    width: 43%;
  }
}
